

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

main {
    height: 100%;
}

.debug *{
    border-style: dashed;
}

.big-container {
    min-height: 100%;
}

.small-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: blueviolet;

}
.list-style {
    list-style: none;
}


/* Header */
.top {
    background-color: lightblue;
    padding: 0.5rem;
    
}

.nav {
    display: flex;
    justify-content: space-around; 
    margin-right: 20%;
    margin-left: 20%;
    background-color: yellow;
    line-height: 30px;
    gap: 0px;
    
    
    
    #logo {
        text-align: left;
        min-width: 20%;
    }
    
    #link {
        text-align: center;
        min-width: 59%;

        a {
            text-decoration: none;;
        }
    }
    
    #login
        {
            text-align: right;
            min-width: 20%;
        }
}

/* Main */
.jumbo {
    background-color: darkblue;
}

#jumbotron {
    display: flex;
    min-height: 300px;
    justify-content: center;
    background-color: palevioletred;
    margin: 2.5% 25%;
}

.bg-odd {
    background-color: white;
}

.bg-even {
    background-color: lightgray;
}

.bg-dark {
    background-color: rgb(54, 53, 53);
}

#invite_only {
    display: flex;
    width: 65%;
    min-height: 350px;
    margin: 2.5% 0;
}

#community {
    display: flex;
    width: 65%;
    min-height: 350px;
    margin: 2.5% 0;
}

#fandom {
    display: flex;
    width: 65%;
    min-height: 350px; 
    margin: 2.5% 0;
}

#tech {
    min-height: 700px;
    width: 65%;
    margin: 2.5% 0;
    background-color: green;
}

.big-part{
    min-width: 60%;
    background-color: lightblue;
}

.small-part {
    min-width: 40%;
    background-color: pink;
}

.table {
    display: flex;
    width: 65%;
    min-height: 350px;
    margin: 1% 0 2.5% 0;

    .big-table-part {
        min-width: 34.5%;
        background-color: salmon;
    }

    .small-table-part {
        min-width: 16%;
        background-color: aquamarine;
    }
}